// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

body {
    padding-top: 70px;
  }

.vcenter {
  margin: 2em;
}

.product-review {
  font-size: 1.3em;
}
